<div class="card p-4">
    <h2>Reset Password</h2>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label>New Password</label>
        <input type="password" class="form-control" formControlName="newPassword" />
        <div class="text-danger" *ngIf="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched">
          Minimum 6 characters required.
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="resetForm.invalid">Reset Password</button>
    </form>
  
    <div class="mt-3 text-success">{{ message }}</div>
  </div>
  